* {
    box-sizing: border-box;
}

.row{
    
}

/* Style the header */
.header {
    background-image: url(skyrim1.jpg);
    background-color: #f1f1f1;
    padding: 4%;
    text-align: center;
    height: auto;
    width: 100%;
    border: 3px solid black;
    
}
.container{
    width: 100%;
    height: 382px;
}

.footer{
    background-image: url(Foota.png);
    padding: 10%;
    text-align: center;
    height: auto;
    width: 100%;
    color: aliceblue;
    border: 3px solid black;
}

/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: black; 
    font-family: Algerian;
}

/* Style the topnav links */
.topnav a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 7px 15px;
}

/* Change color on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Create three equal columns that floats next to each other */
.column {
    
    margin: 0px;
    height: 100%;
    float: right;
    width: 80%;
    padding: 15px;
    color: black;
    position: relative;
    overflow: auto;
    
}
/* Create the buttons of the column*/
.containerbutton{
    float: right;
    padding:70px 100px;
    width: 250px;
    height: 300px;
    background-color:rgba(19, 24, 22,0.5 );
    
}
/* Clear floats after the columns */



/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width:600px) {
    .column {
        width: 100%;

    }
}
body {
    margin: 0;
    background-image: url(backfond.png);
   
}

/*menu vertical*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 20%;
    background-color: #f1f1f1;
    position:absolute;
    height: 60%;
    overflow: auto;
    font-family: Algerian;
    background-color:black;
}

li a {
    display: block;
    background-color: black;
    color: white;
    padding: 16px 16px;
    text-decoration: none;
}

li a.active {
    background-color: darkslategray;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: goldenrod;
}
.modal-content {
    color: white;
    text-decoration-color: antiquewhite;
    background-size: contain;
    width: 727px;
    height: 900px;
    background-repeat: no-repeat;
    /* Could be more or less, depending on screen size */
}
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}
@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}
.form {
    
    border: 3px solid #f1f1f1;
    
    }

.container3 {
    width: 55%;
    height: 50%;
    text-align: center;
    padding: 50px 140px;
    color:#EAEDFD;
    border: #EAEDFD;
    float:left;

}
table, td, th {
    font-size: 25px;
    border: 3px solid #EAEDFD;
}

table {
    border-collapse: collapse;
    width: 100%;
}
tr
    {
        background-color: rgba(228,241,253,0.3);

    }